@import "src/scss/vars/mixins";

.test {
  background: #8F90A0;
  //background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.testDiv {
  padding: 50px;
  background: white;
  height: 500px;
}
