@import "src/scss/vars/mixins";

.title {
  @include bold-text;
  color: var(--dark-100);
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 16px;
}

.item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bullet {
  background: var(--dark-25);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.text {
  @include regular-text;
  color: var(--dark-75);
}